0. Import the libraries

In [1]:
import pandas as pd
import numpy as np
import re

1. Read the preprocessed-dataset

In [34]:
product_link = './preprocessed-data/product.pkl'

df = pd.read_pickle(product_link)

# drop if any column is nan
for field in df.columns:
    df = df[df[field].notna()]
    
# drop duplicate id
df.drop_duplicates(subset=['id'])

df.head()

,id,gender,masterCategory,subCategory,acticleType,baseColour,season,year,usage,productDisplayName,link
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,http://assets.myntassets.com/v1/images/style/p...
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,http://assets.myntassets.com/v1/images/style/p...
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,http://assets.myntassets.com/v1/images/style/p...
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,http://assets.myntassets.com/v1/images/style/p...
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,http://assets.myntassets.com/v1/images/style/p...

In [14]:
def changeQuoteSring(s):
    if "'" in s:
        return s.replace("'", "''")
    return s

changeQuoteSring("hello's")

"hello''s"

2. Manage the insert query

* Insert into category

In [25]:
main_categories = df['masterCategory'].unique()

category_sql = './queries-code/category_insert.sql'

with open(category_sql, 'a') as f:
    for category in main_categories:
        f.write(f"INSERT INTO category (name) VALUES ('{category}');\n")

* Insert into subcategory

In [26]:
sub_categories = df['subCategory'].unique()

subcategory_sql = './queries-code/subcategory_insert.sql'

with open(subcategory_sql, 'a') as f:
    for category in sub_categories:
        f.write(f"INSERT INTO subcategory (name) VALUES ('{category}');\n")

* Insert into product

In [33]:
product_sql = './queries-code/product.sql'

with open(product_sql, 'a') as f:
    for index, product in df.iterrows():
        f.write(f"INSERT INTO product SET product_id = {product['id']}, product_name = '{changeQuoteSring(product['productDisplayName'])}', product_gender = '{product['gender']}', product_quantity = 0, product_color ='{product['baseColour']}', product_type = '{product['acticleType']}', product_price = 0.00, subcategory_id = (SELECT subcategory_id FROM subcategory WHERE subcategory.name = '{product['subCategory']}'), category_id = (SELECT category_id FROM category WHERE category.name = '{product['masterCategory']}'), image_link = '{product['link']}';\n")